/* body {
    background-image: url("awan.jpg");
    background-repeat: repeat;
    background-size: 50% ;
} */

h1 {
    text-align: center;
    margin-top: 70px;
    color: black;
    font-weight: bold;
}